<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.cst.simplefitserver.dao.mapper.InfoDetailBuyerMapper" >
  <resultMap id="BaseResultMap" type="com.zju.cst.simplefitserver.model.InfoDetailBuyer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="obtain_time" property="obtainTime" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="validation" property="validation" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, obtain_time, expire_time, create_time, update_time, validation
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from info_detail_buyer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from info_detail_buyer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.cst.simplefitserver.model.InfoDetailBuyer" >
    insert into info_detail_buyer (id, user_id, obtain_time, 
      expire_time, create_time, update_time, 
      validation)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{obtainTime,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{validation,jdbcType=INTEGER})
  </insert>

  <!--根据 userId 获取 buyerId-->
  <select id="getBuyer" resultMap="BaseResultMap">
    select *
    from info_detail_buyer
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <!--获取用户的登录时信息-->
  <select id="getInfo" resultType="com.zju.cst.simplefitserver.model.vo.User">
    select info_user.*, info_detail_buyer.id typeId
    from info_user, info_detail_buyer
    where username = #{username,jdbcType=VARCHAR}
    and info_user.id = info_detail_buyer.user_id
  </select>

  <!--用户买卡-->
  <!--和钱相关-->
  <update id="buyCard">
    insert into relation_user_wallet(buyer_id, wallet_id, money, create_time, spending, trainer_lesson_id)
    values (#{buyerId,jdbcType=INTEGER}, #{walletId,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 0, 0);
    update info_detail_buyer
    set
    obtain_time = #{obtainTime,jdbcType=VARCHAR},
    expire_time = #{expireTime,jdbcType=VARCHAR}
    where id = #{buyerId,jdbcType=INTEGER};
  </update>

  <!--用户买课-->
  <!--和钱相关-->
  <insert id="buyLesson">
    insert into relation_user_wallet(buyer_id, wallet_id, money, create_time, spending, trainer_lesson_id)
    values (#{buyerId,jdbcType=INTEGER}, (select owner_id from info_shop where id in (select shop_id from relation_trainer_lesson where id = #{trainerLessonId,jdbcType=INTEGER})), #{money,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 1, #{trainerLessonId,jdbcType=INTEGER});
  </insert>

  <insert id="insertSelective" parameterType="com.zju.cst.simplefitserver.model.InfoDetailBuyer" >
    insert into info_detail_buyer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="obtainTime != null" >
        obtain_time,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="validation != null" >
        validation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="obtainTime != null" >
        #{obtainTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="validation != null" >
        #{validation,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zju.cst.simplefitserver.model.InfoDetailBuyer" >
    update info_detail_buyer
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="obtainTime != null" >
        obtain_time = #{obtainTime,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="validation != null" >
        validation = #{validation,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.cst.simplefitserver.model.InfoDetailBuyer" >
    update info_detail_buyer
    set user_id = #{userId,jdbcType=INTEGER},
      obtain_time = #{obtainTime,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      validation = #{validation,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>