/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/main/java/com/company/project/core/
src/main/java/com/company/project/configurer/
src/main/java/com/company/project/service/
src/main/java/com/company/project/web/

src/main/resources/mapper/
