<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.RelationTrainerCredentialMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.RelationTrainerCredential">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trainer_id" jdbcType="INTEGER" property="trainerId" />
    <result column="credentail_id" jdbcType="INTEGER" property="credentailId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="obtain_time" jdbcType="VARCHAR" property="obtainTime" />
    <result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="validation" jdbcType="INTEGER" property="validation" />
  </resultMap>
</mapper>