<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.RelationBuyerLessonMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.RelationBuyerLesson">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="trainer_lesson_id" jdbcType="INTEGER" property="trainerLessonId" />
    <result column="confirm_buyer" jdbcType="INTEGER" property="confirmBuyer" />
    <result column="confirm_trainer" jdbcType="INTEGER" property="confirmTrainer" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="validation" jdbcType="INTEGER" property="validation" />
  </resultMap>
</mapper>